<script type="text/javascript">(function(d, t, e, m){

  // Async Rating-Widget initialization.
  window.RW_Async_Init = function(){

      RW.init({
          huid: "345869",
          uid: "72693b4b5ccdd36530431597e9ada0f7",
          options: {
                  "size": "large",
                  "style": "oxygen",
                  "isDummy": false
              }
      });
      RW.render();
  };
      // Append Rating-Widget JavaScript library.
  var rw, s = d.getElementsByTagName(e)[0], id = "rw-js",
      l = d.location, ck = "Y" + t.getFullYear() +
      "M" + t.getMonth() + "D" + t.getDate(), p = l.protocol,
      f = ((l.search.indexOf("DBG=") > -1) ? "" : ".min"),
      a = ("https:" == p ? "secure." + m + "js/" : "js." + m);
  if (d.getElementById(id)) return;
  rw = d.createElement(e);
  rw.id = id; rw.async = true; rw.type = "text/javascript";
  rw.src = p + "//" + a + "external" + f + ".js?ck=" + ck;
  s.parentNode.insertBefore(rw, s);
  }(document, new Date(), "script", "rating-widget.com/"));</script>

<style media="screen">

</style>

<div class="container">
<div class="row">
  <div class="col-md-8">
    <div class="well border-radius">
      <h1><%= location.name %></h1>
      <h2>About <%= location.name %></h2>
      <p><%= location.name %> is located in the <%= location.location.neighborhoods %> area of <%= location.location.city %>. </p>
      <div class="rw-ui-container"></div>
    </div>
    <div class="well">
      <h2>Reviews</h2>
      <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Review</th>
      </tr>
    </thead>
      <% for(var i=0; i<reviews.length; i++) { %>
    <tbody>
        <tr>
          <th scope="row"><%= reviews[i]._author.local.name %></th>
          <td><%= reviews[i].body %></td>
          <% } %>
        </tr>
    </tbody>
  </table>
    <div class="form-group row">
      <form action="/location/<%= location.id %>" method="post">
      <div class="form-group">
          <label>Add Review</label>
          <textarea rows="6" class="form-control" name="body"></textarea>
      </div>
    </div>
    <button type="submit" name="button" class="btn btn-success">Submit Review</button>
    </form>
    </div>
  </div>
  <div class="col-md-4">
    <div class="well border-radius">
      <h2><%= location.name %></h2><h4>(<%= location.location.city %>)</h4>
      <h4><%= location.location.cross_streets %></h4>
      <h4><%= location.location.address %></h4>
      <h4><%= location.location.city %>, <%= location.location.state_code %></h4>
      <h4><%= location.display_phone %></h4>
    </div>
    <div class="well border-radius">

      <h2 id="map">Map</h2>
      <iframe width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/?q=<%= location.location.coordinate.latitude %>,<%= location.location.coordinate.longitude %>&output=embed" style="color:#0000FF;text-align:left" target="_blank">See map bigger</a></small>

    </div>
  </div>
</div>
